#!/bin/sh

url="https://ersa-dynamic-dns.appspot.com/v1/host/DDNS_DOMAIN/DDNS_HOSTNAME"

curl --silent -4 -X POST -d "" --header "x-dns-username: DDNS_USERNAME" --header "x-dns-token: DDNS_TOKEN" $url > /dev/null 2>&1

echo DDNS_HOSTNAME.DDNS_DOMAIN > /etc/hostname
hostname --file /etc/hostname
